<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js">
		<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
		<title>Meister Burger</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/models/burger.js"></script>
        <script src="/assets/js/order.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>